html, body, * {
    font-family: "Outfit", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 6em;
    font-weight: 600;
    padding-bottom: 0.2em;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 4em;
    font-weight: 500;
}

h3{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-weight: 500;
}

h4{
    font-size: 1.4em; 
}

p{
    font-size: 1.2em; 
}

img {
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color: #F1B63E;
}

textarea{
    width:100%;
    border: solid black 0.1em;
    border-radius: 20em;
    padding:1em;
    resize: none;
    box-sizing: border-box 
}
form{
    width:100%;
}
/* -----Index Page------ */
.index-header-no-user{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    border-bottom: black solid 0.1em;
}
.index-header-signup{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin:3em 2em;
}
.index-header-signedin{
    justify-content: center;
    margin:5em 2em;
    border-bottom: black solid 0.1em;
}
.index-title{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    margin:3em 0em;
}
.playtested-icon{
    width:12em;
    height:100%;
}
.index-img-scroll-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    gap:2em;
    padding:3em 0em;
    /* Allows for the row to be scrollable */
    overflow: auto;
    white-space:nowrap;
}
.index-gallery-item{
    border: solid black 0.1em;
    display: flex;
    flex-direction: column;
    width:fit-content;
    min-width:fit-content;
    max-width: fit-content;
}
.index-gallery-text{
    margin:1em 2em;
    word-wrap: break-word; /* Ensures long words wrap */
    overflow-wrap: break-word;
    white-space: normal; /* Allows wrapping */
    max-width: 10em; 
}
.index-gallery-img{
    height: 15em; /* Enforce a fixed width */
    min-height: 15em; /* Prevent shrinking */
    max-height: 15em; /* Prevent growing */
    width:auto;
}
#top-ranked {
    border-bottom: black solid 0.1em;
}

/* ------//End index page ------- */

.collection-icon{
    width:100%;
    height:100%;
}

.view-game-img{
    width:auto;
    height:22em;
}
.view-game-img-padding{
    padding:2em 2em;
    width:fit-content;
    
    flex-grow:1;
}

.game-details{
    align-content: stretch;
   height:auto;
    flex: 1;
}


.game-info-container{
    flex-grow:3;
}

.game-name{
    width:100%;
}

.header{
    border-bottom: solid black 0.1em;
    position: absolute;
    top:0;
    width:100%;
}

.body{
    margin-top:3em;
}


.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.gap1em{
    gap:1em;
}

.centered{
    align-items: center;
    text-align:center;
    margin:auto;
}

.wrap{
    flex-wrap: wrap;
    gap:1em;
}

.space-evenly{
    justify-content:space-evenly;
}
.space-between{
    justify-content:space-between;
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    /* align-items: flex-end; */
    gap: 0.5em;
    justify-content:flex-end;
    width:100%;
    align-items: stretch;
}

.navbar li{
    /* border-left: 0.1em solid black; */
    height:2em;
    padding: 0em 1em;
    align-content: center;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.border-left{
    border-left: 0.1em solid black;
}
.playtested {
    border-left: none;
    margin-right: auto;
    align-content: center;
}
.navbar a{
    text-decoration: none;
    color:black;
}
.navbar a:hover{
    color: #F1B63E;
}
.border-top{
    border-top: solid black 0.1em;
}
.border-right{
    border-right:solid black 0.1em;
}

.signin-body{
    height:100%;
}
.signin-item{
    flex-grow:1;    
}
.padding-lrg{
    padding:2em 5em;
}
.padding-sm{
    padding:1em 2em;
}

.profile-body{
    min-height:50em;
}


.activity{
    border: solid black 0.1em;
    padding: 1em 2em;
}

.activity a{
    font-size: 1.2em;
    padding-left: .25em;
}
.collection-preview{
    border: solid black 0.1em;
    padding: 0.5em;
}
.collection-preview a{
    font-size: 1.4em; 
}
.collection-img{
    width:12em;
    height:12em;
    background-color: #FFDE9C;
}
.back-arrow{
    width:5em;
    height:5em;
}

.make-collection-wrap{
    flex-wrap: wrap;
    gap:1em;
}

.make-collection-img{
    width: auto;
    height:8em;
}

.collection-delete-img{
    width:auto;
    height: 2em;
}

.labelAbove{
    display:flex;
    flex-direction:column;
}

.pagination a{
    display:inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: thin solid black;
    color: black;
}

.pagination a:active{
    background-color: black;
    color:white;
}

.page-numbers{
    display: inline-block;
}



.round-border{
    border: 0.1em solid black;
    border-radius: 20em;
    width:fit-content;
    padding:0.3em;
}

.comment-box{
    border: 0.1em solid black;
    padding:0.3em;
}
.comment-container{
    width:100%;
    flex:3;
}

.comment-delete{
    width:auto;
    height:1.25em;
    padding-left: .2em;
}

.comment-delete{
    color: black;
}

.comment-delete:hover{
    color: #F1B63E;
}

.catmec-container{
    flex:2;
}


.red{
    color:red;
}

/* ----View board game page ------- */

.categories-container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    gap:1em;
}
.categories-container p{
    border: 0.1em solid black;
    border-radius: 20em;
    /* width:fit-content; */
    padding:0.3em;
    width:fit-content;
}

